@import "utils/index";
@import "modules/index";

html {
  text-align: center;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  font-family: $mainFont;
  color: $default-color;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .wrapper {
    padding: 0 20px;
  }
}
.primary-title {
  text-align: left;
  font-size: rem(22);
  font-weight: $boldFontWeight;
  font-family: $primaryFont;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.more__btn {
  min-width: 120px;
  margin: 50px auto;
  outline: none;
  background: none;
  border: 1px solid $special-color;
  border-radius: 2px;
  color: $special-color;
  font-family: "Hammersmith One";
  font-size: rem(16);
  font-weight: $mainFontWeight;
  line-height: 35px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $special-color;
    color: $default-color;
    transition: ease-out 0.5s;
  }
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

// Modules
// @import "modules/my-module.scss";
