.intro {
  width: 100%;
  min-height: 100vh;
  background: url(/assets/img/overlay.png), url(/assets/img/intro.png);
  background-size: cover;

  .hero {
    max-width: 771px;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .hero-title {
    font-size: rem(32);
    font-family: $primaryFont;
    line-height: 28px;
    letter-spacing: 0.32px;
    width: 100%;

    &::after {
      display: block;
      content: "";
      margin: 21px auto 30px;
      width: 50px;
      height: 1px;
      background-color: $special-color;
    }
  }

  .hero-preview {
    font-size: rem(14);
    font-weight: $liteFontWeight;
    letter-spacing: 0.7px;
    line-height: 24px;
    width: 100%;
  }
}
